<!DOCTYPE html>
<html>
    <head>
        <title>IMy Website</title>
        
    </head>
    <body>
        <a href="{{ url_for('index') }}"> Home:</a>
       <center> <h1>Passengers Information</h1></center>
    <body>
        <table width="75%" align="center">
            <thead>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <th>Passenger ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Nationality</th>
                    <th>Airport Name</th>
                    <th>Departure Date</th>
                    <th>Arrival Airport</th>
                    <th>Flight Status</th>
                </tr>
            </thead>
            <tbody>
                {% for p in passenger%}
            <tr><td>{{ p[0] }}</td>
                <td>{{ p[1] }}</td>
                <td>{{ p[2] }}</td>
                <td>{{ p[3] }}</td>
                <td>{{ p[4] }}</td>
                <td>{{ p[5] }}</td>
                <td>{{ p[6] }}</td>
                <td>{{ p[7] }}</td>
                <td>{{ p[8] }}</td>
                <td>{{ p[9] }}</td>

            </tr>
                {% endfor %}    
            </tbody>
        </table>
    </body>
</html>

